setuptools>=42
wheel
streamlit==1.34.0
faiss-cpu==1.7.4
sentence-transformers==2.2.2
numpy==1.24.4
groq==0.26.0
speechrecognition==3.14.3
audio-recorder-streamlit==0.0.10
requests==2.31.0
beautifulsoup4==4.12.2
huggingface_hub==0.14.1